<%- include("header") -%>

<div class="box" id="heading">
    <h1>Reviews Page</h1>
</div>

<div class="box">
    <p>Read what our satisfied customers have to say about us.</p>
</div>

<%- include("footer") -%>
