<%- include("header") -%>

<div class="box" id="heading">
    <h1>Services Page</h1>
</div>

<div class="box">
    <p>Discover our exceptional services tailored just for you.</p>
</div>

<%- include("footer") -%>
